name: PAC Verification

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to verify'
        required: true
        type: choice
        options:
          - development
          - solution-checker
          - test

jobs:
  verify-pac-connection:
    name: Verify PAC Connection
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install pac
        uses: microsoft/powerplatform-actions/actions-install@v1
        with:
          add-tools-to-path: true

      - name: Auth pac
        run: |
          pac auth create --githubFederated --tenant ${{ secrets.PAC_TENANT_ID }} --applicationId ${{ secrets.PAC_CLIENT_ID }} --environment ${{ secrets.PAC_ENV_URL }}
        shell: pwsh

      - name: pac env who
        run: |
          pac env who
        shell: pwsh
